body {
  background-color: #311556ab;
}

.App {
    padding: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    min-height: 100%;
    .productCounts {
      position: sticky;
      right: 20px;
      display: flex;
      align-self: flex-end;
      .favoriteIcon {
        position: relative;
        width: 40px;
        margin-left: 50px;
        cursor: pointer;
        img {
          width: 100%;
        }
        .productCount {

          position: absolute;
          padding: 7px;
          min-width: 15px;
          height: 15px;
          border-radius: 10px;
          background-color: rgb(251, 255, 192);
          display: flex;
          justify-content: center;
          align-items: center;
          left: 100%;
          top: 100%;
          transform: translate(-50%, -50%);
        }
      }
    }
  }
  