  .modalWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.747);
  }
  
  .modal {
    border-radius: 7px;
    max-width: 550px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
  }
  
  .modalHeader {
    padding: 10px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    font-size: 12px;
    color: #fff;
    background-color:  rgb(163, 35, 0);
  }
  
  .modalContent {
    font-size: 14px;
    background-color: rgb(193, 73, 40);
    padding: 30px 60px;
    min-height: 100px;
    color: #fff;
    text-align: center;
    max-width: 550px;
  }
  
  .modalFooter {
    padding: 30px;
    display: flex;
    justify-content: space-around;
    background-color: rgb(193, 73, 40);
  }
  